* {box-sizing: border-box;}

:root{
    --scandal :#b8dad9;
    --oasis: #fcf1c0;
    --lavender: #ffe5f1;
    --rose: #FFD3D6;
    --maverick: #c0b9bf;

    --sammyPurple: #A27AC9;
    --sammyBase: #FFC2F6;
    --sammyPink: #FDE4F9;
    --sammyAccent: #DFA8D7;
    --sammEar: #FFF0CC;
    --sammyEye: #82DBC0;
    --sammyCollar: #4B7BA1;

    --sil: silver;
}
html, body {
    margin: 0px;
    padding: 0px;
}
html {
    background: var(--sammyBase);
}

#header {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
    height: 110px;
    background: var(--sammyCollar);
    z-index: 2;
    overflow: hidden;
}

.lineLeft {
    background-color: rgba(0, 0, 0, 0.3);
    width: 150px;
    height: 10px;
    transform: skew(30deg, -60deg);
}

.lineRight {
    background-color: rgba(0, 0, 0, 0.3);
    width: 150px;
    height: 10px;
    transform: skew(-30deg, 60deg);
}

#emblemContainer {
    width: 100%;
    height: 260px;
    position: fixed;
    display: flex;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -20px;
}

#emblemTag {
    position: absolute;
    transform: scale(1, 1.3);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 160px;
    user-select: none;
    margin: 0px;
    padding: 0px;
    width: 170px;
    text-align: center;
    height: fit-content;
    display: inline-block;
    z-index: 2;
}

#emblemTop {  
    position: relative;
    border: 85px solid transparent;
    border-bottom: 170px solid var(--sil);
    z-index: -1;
}

#emblemBottom {  
    position: relative;
    border: 85px solid transparent;
    border-top: 170px solid var(--sil);
    z-index: -1;
}

#menuBar {
    position: absolute;
    height: 70px;
    width: 100vw;
    background: var(--sammyEye);
    z-index: -1;
    display: none;
    top: 130px;
    justify-content: space-around;
    align-items: center;
}

#emblemTag:hover ~ div {
    --sil: rgb(150, 150, 150);
}

#menuBar:hover ~ div {
    --sil: rgb(150, 150, 150);
}

#emblemTag:hover ~ #menuBar {
    display: flex;
}

#menuBar:hover {
    display: flex;
}

.menuButton {
    font-style: 'Courier New', Courier, monospace;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    user-select: none;
    font-size: 30px;
    text-decoration: none;
    color: black;
}

#current {
    background-color: var(--sammyPurple);
}

.menuButton:hover {
    background-color: var(--sammEar);
}

#fixedContainer {
    position: fixed;
    width: 100%;
    z-index: 1;
}

#fixedBackgroundLines {
    position: fixed;
    width: 100%;
    z-index: -1;
}

.backgroundLine {
    background-color: var(--sammyAccent);
    position: relative;
    height: 80px;
    margin-top: 120px;
    min-width: max-content;
    transform: skew(30deg, -20deg);
    left: -100px;
    top: -200px;
}

#head {
    display: block;
}

.text-area {
    position: absolute;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: var(--sammPink);
    color: var(--sammyPurple);
    word-spacing: 2px;
    letter-spacing: 1px;
    margin: 30px 70px 30px 70px;
    width: fit-content;
    height: fit-content;
    background-color: var(--sammyPink);
    opacity: 70%;
    border-radius: 100px/50px;
    line-height: 30px;
    padding: 5px;
}

#about-me {
    top: 270px;
    text-align: left;
}

#about-me h2 {
    text-align: center;
}

#about-me ul {
    opacity: 100%;
    list-style-type:none;
    max-width: 36vw;
}

#about-sammy {
    right: 100px;
    top: 380px;
    text-align: left;
    width: 25vw;
}

#about-sammy h2 {
    text-align: center;
}

#about-sammy ul {
    opacity: 100%;
    list-style-type:none;
    max-width: 36vw;
}

#my-projects {
    text-align: left;
    padding: 15px;
    bottom: -180px;
    left: 80px;
}

#my-projects ul {
    opacity: 100%;
    list-style: none;
    max-width: 36vw;
}

#my-projects h2 {
    text-align: center;
}

.picture {
    position: relative;
    z-index: -1;
    border-radius: 10%/7%;
}

#ref {
    right: -40px;
    top: 200px;
    transform: scale(38%);
}

.title {
    position: absolute;
    top: 250px;
    width: 100vw;
    text-align: center;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#info {
    max-width: 70vw;
    margin: 0;
    left: 15vw;
    top: 375px;
}

.slideshow-container {
    max-width: 1000px;
    max-height: 600px;
    position: relative;
    margin: auto;
    top: 320px;
}


.mySlides-com, .mySlides-own{
    display: none;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.1);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0px;
    width: 20%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px 0% 0%;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0% 0% 20px 20px;
}

.dot-com, .dot-own {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot-container {
    position: relative;
    text-align: center;
    bottom: -10px;
}

.active, .dot-own:hover, .dot-com:hover {
    background: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

.img {
    max-height: 600px;
    max-width: 100%;
    border-radius: 10%;
}

#com {
    left: 375px;
}

#com-text {
    min-width: 30vw;
    min-height: 300px;
    max-width: 30vw;
    left: 100px;
    top: 450px;
}

#own {
    right: 375px;
    margin-top: 170px;
}

#own-text {
    margin-top: -150px;
    min-width: 30vw;
    min-height: 300px;
    max-width: 30vw;
    right: 100px;
}